/* 1rem = 16px */

body, label, textarea, .boton {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    /*  <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 100 to 900   */
}

body {
    background: #F3F5FC;
}

/* Header */

#logo{
    display: block;
    position: relative;
    top: 2px;
    height: 50px;
}

/* Body */

#box {
    width: auto;
}

#interfaz {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Interfaces de entrada-salida de texto */

#interfaz_entrada, #interfaz_salida {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: content-box;
    gap: 10px;
}

.input-texto {
    height: 300px;
    width: 85%;
    border: hidden;
    resize: none; /* el campo de texto no se puede cambiar de tamaño*/
    outline: 0; /*elimino el contorno de la caja de texto*/
    border-radius: 25px;
    padding: 10px;
    font-size: 24px;
}

.boton {
    font-size: 16px;
    width: 150px;
    height: 65px;
    border-radius: 25px;
    background: #D8DFE8;
    color: #0A3871;
    cursor: pointer;
    transition: 500ms;
    font-size: 20px;
}

.boton:hover {
    background: #609ED4;
    color: #D8DFE8;
}

/* Interfaz entrada */

#interfaz_entrada--campo_texto {
    color: #0A3871;
    line-height: 48px;
    gap: 10px;
}

#interfaz_entrada--campo_texto::placeholder {
    color: #0A3871;
}

#interfaz_entrada--condicion {
    font-size: 16px;
    text-align: left;
    color: #495057;
}

#interfaz_entrada--condicion::before {
    content: url(image/Vector.png) ' ';
}

#interfaz--btn {
    display: flex;
}

#boton-encriptar {
    background: #0A3871;
    color: #FFFFFF;
}

#boton-encriptar:hover {
    background: #356EA9;
}

/* Interfaz salida */

#interfaz_salida {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
    width: 86%;
    border: solid 2px #FFFFFF;
    border-radius: 32px;
    background-color: #FFFFFF;
    box-shadow: 0 25px 32px -40px #000000;
    gap: 0;
}

#interfaz_salida--campo_texto {
    color: #495057;
    line-height: 36px;
    height: 300px;
    width: 96%;
}

#interfaz_salida--info {
    display: flex;
    position: absolute;
    height: 275px;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    top: 535px;
    gap: 15px;
    flex-grow: 1;
    flex-shrink: 1;
}

#interfaz_salida--imagen_info {
    height: 200px;
    width: 250px;
}

#interfaz_salida--titulo_info {
    font-size: 16px;
    font-weight: bold;
    color: #343A40;
}

#interfaz_salida--texto_info {
    font-size: 14px;
    color: #495057;
}

#boton-copiar{
    margin: 15px 0;
}

#copyright {
    display: flex;
    height: 30px;
    width: 100%;
    font-size: 12px;
    color: #495057;
    align-items: center;
    justify-content: center;
}